/* GLOBAL */

* {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

a:hover{
	text-decoration: none;
}

.center {
	text-align: center;
}

.v-align-outer {
  display: table;
  width: 100%;
}
.v-align-inner {
  display: table-cell;
  vertical-align: middle;
}

section {
	padding-top: 50px;
}

.no-margin {
	margin:0;
}

.no-padding {
	padding:0;
}

.float-right {
	float: right;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

/* NAVBAR */

 header {
	width: 100%;
	font-family: 'Lato', sans-serif;
	position: fixed;
	z-index: 1;
	color: white;
	text-transform: uppercase;
	background-color: rgb(242,17,16);
	padding:0.7%;
	letter-spacing: 1px;
}

.name {
	font-size: 20px;
}

header a {
	color: white;
}

nav a {
	padding: 25px;
	color: white;
}

.navstuff a:hover, 
.navstuff a:active {
	color: black;
} 

/* LANDING */

.landing {
	width: 100%;
	height: 100vh;
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding:0;
}

h1 {
	font-family: 'Lato', sans-serif;
	color: rgb(241,196,15);
	text-transform: uppercase;
	font-weight: bold;
}

.last-name {
	margin-bottom: 10%;
}

h2 {
	font-family: 'Marck Script', cursive;
}

.landing a {
	padding: 3.5%;
	border-radius: 50px;
	background-color: rgb(22,160,133);
	color: white;
}

.landing a:hover {
	background-color: rgb(242,17,15);
}

.bkg-white {
	background-color: rgba(253,255,252,1);
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	border-radius: 50%;
	padding: 5%;
}

.orange-font {
	color: rgb(242,17,16);
}


/* MEDIA QUERY FOR SMALL DEVICES */

@media (min-width: 768px) {
	.bkg-white {width:50%;}
}

/* MEDIA QUERY FOR MEDIUM & LARGE DEVICES */
@media (min-width: 1000px) {
	h1 {font-size: 500%;}
	.bkg-white {width:50%;}
	nav {float:right;}
	.navstuff {text-align: left}
}
/* PROCESS */

#process{
	margin-bottom: 50px;
}

#process a {
	padding:1.2%;
	background-color: rgb(22,160,133);
	color: white;
	border-radius: 10px;
	margin-top: 20px;
}

#process h5 {
	font-size: 20px;
	letter-spacing: 1px;
}

#process a:hover {
	background-color: rgb(242,17,16);
}

#process p {
	font-size: 14px;
	color: white;
	letter-spacing: 1px;
}

#process h3 {
	font-family: 'Marck Script', cursive;
	font-size: 300%;
	color: rgb(242,17,16);
	padding: 2%;
}


#process h4 {
	font-size: 140%;
	color: white;
	padding-bottom: 2%;
	margin-top: 10px;
}

#process i {
	color: white;
}

.process-box{
	width: 180px;
	height: 180px;
	border-radius:50%;
	margin: 10px;
	position: relative;
}

.process-ex {
	position: absolute;
	bottom: 30px;
	max-width: 150px;
}

.up {
	bottom: 35px;
}

.process-des {
	top: 25px;
	max-width: 150px;
	left: 60px;
	position: absolute;
	text-align: center;
}

.less {
	left: 30px;
}

.process-box:hover .fade-out {
	opacity: 0;
	transition: .45s;
}

.process-box:hover .fade-in {
	opacity: 1;
	transition: .45s;
}

@media (max-width: 768px) {
	.process-box:active .fade-out {
	opacity: 0;
	transition: .45s;}
	.process-box:hover .fade-in {
	opacity: 1;
	transition: .45s;}
}


.process-bubble {
	margin-top: 50px;
	margin-right: auto;
}

.yellow {
	background-color: rgb(241,196,15);
	margin-left:15%;
}

.red {
	background-color:rgb(242,17,16);
}

.blue{
	background-color: rgb(22,160,133);
}
.dark {
	background-color: rgb(52, 73, 94);
}

.gray {
	background-color: gray;
}

.bkg-dark {
	background-color: rgb(52,73,94);
	height: 50px;
	width: 100%;
}

.bkg-blue{
	width: 100%;
	height: 50px;
	background-color: rgb(22,160,133);
}

.bkg-yellow{
	width: 100%;
	height: 50px;
	background-color: rgb(241,196,15);
}

/* BIO */
#about {
	width: 100%;
	height: auto;
	color: black;
	padding-bottom:50px;
	margin-top:50px;
}

.headshot {
	width: 100%;
}
	
.myface img {
	max-width: 50%;
	border-radius: 50%;
}

.myface span {
	text-transform: uppercase;
}

#about h3 {
	font-family: 'Marck Script', cursive;
	font-size: 300%;
	color: rgb(242,17,16);
}

#about .bkg-white {
	width: 50%;
}

#about h4 {
	font-size: 20px;
	color: black;
	letter-spacing: 1px;
}

#about img {
	max-width: 200px;
	border-radius: 50%;
}

#about a {
	padding: 1.5%;
	border-radius: 10%;
	background-color: rgb(22,160,133);
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
}

#about a:hover {
	background-color: rgb(242,17,16);
	color: white;
}

#about span {
	color: rgb(242,17,16);
	text-transform: uppercase;
	font-size: 110%
}

#about .quick-bio span {
	font-weight: bold;
	color: black;
	font-size: 100%;
}

#about p {
	letter-spacing: 1px;
	line-height: 25px;
	font-size: 18px;
}

.top {
	margin-top: 30px;
}

#about .skills p{
	font-size: 14px;
}

/* PORTFOLIO SECTION */	

#portfolio {
	margin-top:5%;
	border-radius: 10px;
}

.port-des {
	font-size: 20px;
	letter-spacing: 1px;
}

#portfolio .description {
	font-size: 30px;
	color: black;
}

#portfolio .button:hover{
	background-color: rgb(242,17,15);
	color: red;
}

.bkg-red {
	width: 100%;
	background-color: rgb(242,17,15);
}

#portfolio h3 {
	color: red;
	font-family: 'Marck Script', cursive;
	font-size: 300%;
}

#portfolio h5 {
	color: black;
	font-size: 20px;
	letter-spacing: 1px;
}

#portfolio h4 {
	color:rgb(52, 73, 94);
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
}

#portfolio hr {
	max-width: 100px;
	color: rgb(231,29,54);
}

#portfolio img {
	max-width: 300px;
	border-radius: 50%;
}

.row-wht {
	background-color: white;
	padding-bottom: 50px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.margin-top-big {
	margin-top: 5%;
}

.portfolio-box {
	text-align: center;
	position: relative;
}

.portfolio-text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-right: auto;
	left: 3%;
	color: black;
	letter-spacing: 1px;
}

.fade-in {
	opacity: 0;
}

.fade-out {
	opacity: 1;
}

#portfolio a:hover .fade-in {
	opacity: 1;
	transition: .45s;
}

#portfolio a:hover .fade-out {
	opacity: 0;
	transition: .45s;
}

#portfolio span {
	color: rgb(242,17,16);
	font-weight: bold;
	font-size: 16px;
}



/* CONTACT */ 
#contact {
	width: 100%;
	margin: 0;
	padding: 5%;	
	color: white;
	background-color: rgb(22,160,133);
	letter-spacing: 1px;
	font-size: 25px;
}

#contact h3 {
	font-family: 'Marck Script', cursive;
	font-size: 300%;
	letter-spacing: 0;
}
#contact hr {
	max-width: 100px;
	color: white;
}
#contact i {
	color: white;
}

#contact a {
	color: white;
	font-size: 15px;
	margin: 1px;
}

.margin-top {
	margin-top: 2%;
}

.email {
	text-decoration: underline;
}


