/* GLOBAL STYLES */
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	color:#000000;
}

h1 {
	font-family: 'Sansita', sans-serif;
	font-size: 70px;
	color:#ffffff;
	text-align:center;
}

h2 {
	font-size: 50px;
	text-align: center;
	color:#378fa8;
	font-family: 'Sansita', sans-serif;
	padding-bottom: 3%;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

a:hover {
	text-decoration: none;
}

li {
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	padding-bottom: 1rem;
}

li i {
	color:#e47a2c;
}
.container {
	padding-top: 4rem;
}

iframe {
	width:100%;
	height:100%;
}

.content-last iframe {
	width:100%;
	height:400px;
}

.container.first-content {
	padding-top: 1rem;
}
/* NAV BAR */
.header {
	position:fixed;
	width:100%;
	z-index:10000;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	background-color: #fff;
	padding-bottom: 5px;
}
.nav-bar ul {
	float:right;
	padding-top: 2rem;
}

.nav-bar ul li {
	display:inline-block;
	padding-right: 5rem;

}

.nav-bar ul li:last-child {
	padding-right: 0;
}

.nav-bar ul li a{
	font-size: 16px;
	color:#e47a2c;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.nav-bar ul li a:hover,
.nav-bar ul li a:active {
	color: #55a8a6;
}

.name a {
	font-size: 30px;
	color:#55a8a6;
	font-family: 'Sansita', sans-serif;
}

.name a span{
	color:#e47a2c;

}

.name a:hover {
	color:#e47a2c;
}

.name a:hover span{
	color:#55a8a6;

}

.container.nav-bar {
	padding-top: 1rem;
}

/* HERO */

.hero-background {
	height:650px;
	width:100%;
	background-image: url('../img/hero.jpg');
	position:relative;
}

.hero-background-overlay {
	width:100%;
	background-color:rgba(0,0,0,0.45);
	height:100%;
	position:absolute;
}

.hero-content {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	padding:0 20%;
	text-align: center;
	transform:translate(0, -50%);
}

.hero-content h1 {
	font-size:70px;
	margin-top:0;
}

.hero-content p {
	font-size: 20px;
	font-weight: lighter;
	text-transform: uppercase;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 0;
	color:white;
}

.circle {
	background-color: rgba(0,0,0,0.5);
	padding-top:7rem;
	padding-bottom:7rem;
	border-radius:50%;
}

a.blue-button {
	padding: 10px 20px 10px 20px;
	background:#55a8a6;
	color:white;
	font-size: 16px;
	font-weight: lighter;
	border-radius:20px;
	text-transform:uppercase;
}

a.blue-button:hover {
	background:#e47a2c;
}

.circle h1.last-name {
	margin-top:-2rem;
	padding-bottom:3rem;
}


.border{
	margin-top:-15px;
	position:relative;
	z-index:100;
	width:50%;
}
.border_left {
	border-bottom: 15px solid white;
	border-left: 0 solid transparent;
	border-right:15px solid transparent;
	height: 0;
  	float:left;
}
.border_right {
	border-bottom: 15px solid white;
	border-left: 15px solid transparent;
	border-right:0 solid transparent;
	height: 0;
  	float:right;
}

.header_scrolled {
	background-color:#000000;
}

/* PORTFOLIO SSECTION */

#portfolio p {
	text-align: center;
	padding-bottom: 3rem;
}

.portfolio-box h3 {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	color:#e47a2c;
}

.portfolio-box {
	width:100%;
	padding:2rem;
}

.portfolio-box .portfolio-image {
	width:100%;
	height:auto;
	overflow:hidden;
}


.portfolio-image {
	border-radius:50%;
	width:100%;
	height:auto;
	border:7px solid #55a8a6;
	z-index: 998;
	overflow: hidden;
	background: #55a8a6;
}

.portfolio-box img {
	width:100%;
	z-index: 997;
}

#portfolio a:hover .portfolio-box img {
	transform:scale(1.1);
	opacity:0.5;
}

#portfolio a:hover .portfolio-box h3 {
	font-weight: normal;
}

.portfolio-about p {
	font-size: 22px;
}

/* ABOUT SECTION */

.about-background {
	height:580px;
	width:100%;
	background-image: url('../img/about.jpg');
	position:relative;
}

#about h2 {
	color:white;
}

#about h4 {
	color:white;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: 24px;
}

#about p {
	color:white;
	text-shadow: 7px 1px 7px #000000;
}

.about-pic {
	width:100%;
}

#about img {
	border-radius:50%;
	border:7px solid white;
	z-index: 998;

}

/* CONTACT SECTION */
.contact-background {
	background-color: #55a8a6;
	padding-bottom: 5rem;
}

#contact h2,
#contact p{
	color:white;
}

#contact p {
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
	position:relative;
}

#contact ul li {
	display:inline-block;
}

ul li i {
	font-size: 30px;
}
#contact ul {
	text-align: center;
	padding-top: 3rem;
}
#contact ul li a i {
	color:white;
	padding-right:2rem;
	text-align: center;
}
#contact ul li a:hover i{
	color:#e47a2c;
}

/* FOOTER BANNER */
.footer-banner {
	height:50px;
	width:100%;
	background-image: url('../img/header.jpg');
}
.footer-banner-overlay {
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.45)
}

/* INTERIOR PAGE */
.title-bar {
	height:350px;
	width:100%;
	background-image: url('../img/hero.jpg');
	position:relative;

}
.title-bar-overlay {
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.45)

}

.background-gray {
	background-color: #f9f9f8;
}
.breadcrumbs {
	padding-top: 2%;
}

.breadcrumbs a {
	font-size: 16px;
	color:#378fa8;
	text-transform: uppercase;
	font-weight: lighter;
}
.center {
	text-align: center;
}

.breadcrumbs-top {
	padding-bottom: 2%;
}
.breadcrumbs a:hover {
	color:#d37129;
}
.breadcrumbs-top {
	padding-bottom: 2%;
}

.mosaic-img img:first-child {
	padding-bottom:12%;
}
	
.intro-text p{
	text-align: center;
	font-size: 20px;
	padding-bottom:15px;
}
.float-right {
	float:right;
}

.intro-text p {
	padding-bottom: 3%;
}

.content {
	padding-bottom: 4rem;
}
.content-last {
	padding-bottom: 1%;
}
.content img {
	width:100%;
	height:auto;
}

.ideate img {
	padding-bottom: 2rem;
}

/* INTERIOR STYLES */
.footer-banner-overlay {
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.45)
}

.title-text {
	top:110px;
}

/* RESPONSIVE STYLES */

@media (max-width: 768px) {
	.portfolio-about p {
		font-size: 18px;
	}
	.name a {
		display:none;
	}
	h2 {
		font-size: 50px;
	}
	.hero-content h1 {
		font-size: 50px;
	}
	.hero-content p {
		font-size: 20px;
		padding-top: 0;
	}
	.circle {
		background-color: rgba(0,0,0,0);
		padding:0;

	}
	.nav-bar ul {
		float:none;
	}

	.nav-bar ul li a {
		font-size: 12px;
	}
	.hero-background {
		height:500px;
	}
	.about-background {
		height:700px;
	}
	.about-image {
		display:none;
	}
}

@media (min-width: 768px) and (max-width:997px){
	.nav-bar ul li {
		padding-right: 3rem;
	}
	.nav-bar ul li a {
		font-size: 14px;
	}
	.circle {
		background-color: rgba(0,0,0,0);
		padding:0;

	}
	.about-background {
		height:780px;
	}
}
